<div class="container">
<ul>
    <li><a href="">Főoldal</a></li>
    <li>
        <div class="dropdown">
            <a class="dropbtn">Termékeink</a>
            <div class="dropdown-content">
              <a href="#">Gyümölcsök</a>
              <a href="#">Zöldségek</a>
              <a href="#">Delikát</a>
            </div>
          </div>
        </li>
    <li style="margin-left: 110px;"><a href="">Hírek</a></li>
    <li><a href="">Elérhetőség</a></li>
    <li><a href="">Rólunk</a></li>
  </ul>
</div>
  